body{
    background-color: darkslategray;
    color: aliceblue;
}
#projects h1 {
    color: #B30000;
    font-size: 2rem;
    font-size: 200;
}
.front-end {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.project {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.project-tile{
    color:white;
     width:90%;
    margin:0;
    font-size:1.5rem;
    font-weight: 200;
  }
  .project a{
    text-decoration: none;
  }
.column{
    display: flex;
}
.project img {
    max-height: 190px; 
    object-fit: cover;
} 
.FEP {
    position: relative;
    top: 38px;
    margin-left: 7px;
    z-index: 1;
}
@media (max-width: 950px){
    .front-end {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }   
}
@media (max-width: 760px){
    #projects h1 {
        color: #B30000;
        font-size: 1.5rem;
        font-size: 250;
    }
    .front-end {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .project {
        display: flex;
        max-width:400px;
        margin: 0;
        padding: 0;
    }
    .project img {
        max-height: 190px; 
    } 
    .project p {
        margin-left: 7px;
    }
}
.back-end {
    min-height: 40vh;
}
@media (min-width: 760px){
    .back-end {
    display: grid;
    grid-template-columns: 350px 350px ;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }  
}

.BEP {
    position: relative;
    top: 10px;
    margin-left: 7px;
    z-index: 1;
}